<h1 id="tableLabel">Portfolio</h1>

<p>This component demonstrates fetching a portfolio from the server.</p>

<p *ngIf="!portfolio"><em>Loading...</em></p>

<div *ngIf="portfolio" class='table table-striped' aria-labelledby="tableLabel">
  <div class="row">
    <div class="col-md-4">Code</div>
    <div class="col-md-6">Name</div>
    <div class="col-md-2">Value</div>
  </div>
  <div *ngFor="let position of portfolio">
    <div class="row">
      <div class="col-md-2">{{ position.code }}</div>
      <div class="col-md-7">{{ position.name }}</div>
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-2">{{ position.value | currency : 'EUR' }}</div>
    </div>
    <div class="row" *ngFor="let mandate of position.mandates">
      <div class="col-md-1">&nbsp;</div>
      <div class="col-md-7">{{ mandate.name }}</div>
      <div class="col-md-2">{{ mandate.allocation | percent }}</div>
      <div class="col-md-2">{{ mandate.value | currency : 'EUR' }}</div>
    </div>
  </div>
</div>
